<!DOCTYPE html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Voteplayer - {{ title }}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet"
          href="{{ offset }}/View/Assets/css/bootstrap.min.css">
    <link href="{{ offset }}/View/Assets/css/font-awesome.css"
          rel="stylesheet">
    <link rel="stylesheet" href="{{ offset }}/View/Assets/css/main.css">
    <script>
        window.fredyframework = {};
        window.fredyframework.offset = '{{ offset }}';
        {% for name,value in js %}
            window.fredyframework.{{ key }} = '{{ value }}';
        {% endfor %}
    </script>
    <script src="{{ offset }}/View/Assets/js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
    <!-- /container -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="{{ offset }}/Assets/js/vendor/jquery-1.11.0.min.js"><\/script>')</script>
    <script src="{{ offset }}/View/Assets/js/vendor/bootstrap.min.js"></script>
    <script src="{{ offset }}/View/Assets/js/mediaelement/mediaelement-and-player.js"></script>
    <link rel="stylesheet" href="{{ offset }}/View/Assets/css/voteplayer-theme.css" />
    <script src="{{ offset }}/View/Assets/js/main.js"></script>
</head>
<body>

<div class="container">

    <div class="row">
        <div class="col-md-8 col-sm-8 col-xs-12">
            <h1>VotePlayer</h1>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12 text-right user-logged-in">
            <i class="fa fa-user"></i> <a href="{{ offset }}/Login">Login</a>

        </div>
    </div>

</div>
<div class="container top15">
    <div class="navbar navbar-inverse" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <div class="navbar-collapse collapse navbar-left" id="main-navbar">
            {% import "navigation.twig" as navigationGenerator %}
            {{ navigationGenerator.menu(navigation, 'nav navbar-nav navbar-right', all, offset) }}
        </div>
    </div>
</div>
<div class="container">
    <div class="player">
        <script src="{{ offset }}/View/Assets/js/player.js"></script>
        <div class="col-md-12 nopadding">
            <audio class="audio-player" src="{{ offset }}/Music/Hall of the Mountain King.mp3"></audio>
        </div>
        <div class="clearfix"></div>
    </div>

</div>



{% block content %}{% endblock %}

<div class="clearfix"></div>



</body>
</html>
