{% extends "index.twig" %}

{% block content %}
    <div class="container ">
        <!-- Example row of columns -->
        <div class="row">
            <div class="col-md-8 top30">

                <div class="title padding15">
                    <h2>Edit User</h2>
                </div>
                <div class="users padding15">
                    <form class="form-horizontal" action="{{ offset }}/Users/Add" method="post">
                        <fieldset>


                            <input id="id" name="id" type="hidden"
                                   value="{{ user.id }}">
                            <!-- Text input-->
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="textinput">Username</label>

                                <div class="col-md-4">
                                    <input id="textinput" name="username" type="text"
                                           placeholder="Username"
                                           value="{{ user.username }}"
                                           class="form-control input-md">
                                    <span class="help-block">Only characters and numbers.</span>
                                    {% if error.usernameEmpty is defined %}
                                        <div class="alert alert-danger">
                                            {{ error.usernameEmpty }}
                                        </div>
                                    {% endif %}
                                    {% if error.usernameNotValid is defined %}
                                        <div class="alert alert-danger">
                                            {{ error.usernameNotValid }}
                                        </div>
                                    {% endif %}

                                </div>
                            </div>

                            <!-- Text input-->
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="textinput">Password</label>

                                <div class="col-md-4">
                                    <input id="textinput" name="password" type="password"
                                           placeholder="Password"
                                           class="form-control input-md">
                                        <span class="help-block">At least 6 Characters</span>
                                     {% if error.passwordLen is defined %}
                                        <div class="alert alert-danger">
                                           {{ error.passwordLen }}
                                        </div>
                                    {% endif %}

                                </div>
                            </div>


                                            <input type="hidden" name="admin"
                                                   id="checkboxes-0" value="0">





                            <!-- Button -->
                            <div class="form-group">
                                <label class="col-md-4 control-label"
                                       for="singlebutton"></label>

                                <div class="col-md-4">
                                    <button id="singlebutton" name="submit"
                                            class="btn btn-primary">Save
                                    </button>
                                </div>
                            </div>

                        </fieldset>
                    </form>


                </div>
            </div>
            <div class="col-md-4 top30">
                <div class="sidebar padding15">
                    <h2>Add User</h2>

                    <p>Here you can register a new user. </p>


                </div>
            </div>
        </div>

    </div>


{% endblock %}
